# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\wwwri\OneDrive\Documentos\INEC Capacitacion\RICHARD IVAN HUARACA BUÑAY\Oracle Certificado\Challenge-Desafio 1\Ecriptador_Challengue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
